@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@import './pikaday-custom.css';

/* Preline UI */
@source "./node_modules/preline/dist.js";

@import 'preline/variants.css';
/* @import 'pikaday/css/pikaday.css'; */

/* Plugins */
@plugin "@tailwindcss/forms";

/* Flux */
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display:'Hanken Grotesk', 'sans-serif';

    --color-primary:  var(--color-stone-50);
    --color-secondary: var(--color-stone-50);

    --color-zinc-50: var(--color-stone-50);
    --color-zinc-100: var(--color-stone-100);
    --color-zinc-200: var(--color-stone-200);
    --color-zinc-300: var(--color-stone-300);
    --color-zinc-400: var(--color-stone-400);
    --color-zinc-500: var(--color-stone-500);
    --color-zinc-600: var(--color-stone-600);
    --color-zinc-700: var(--color-stone-700);
    --color-zinc-800: var(--color-stone-800);
    --color-zinc-900: var(--color-stone-900);
    --color-zinc-950: var(--color-stone-950);

    --import: #11100e;
    --card: #151411;

    --color-accent: var(--color-amber-400);
    --color-accent-content: var(--color-amber-600);
    --color-accent-foreground: var(--color-amber-950);

   
}

.pagination {
  @apply flex justify-center mt-4 text-sm text-gray-700;
}
.pagination .active {
  @apply bg-blue-600 text-white px-3 py-1 rounded;
}

@layer theme {
    .dark {
        --color-accent: var(--color-amber-400);
        --color-accent-content: var(--color-amber-400);
        --color-accent-foreground: var(--color-amber-950);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
