/* (Uncomment this on your webflow project) <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css"/> */

:root {
	/* Color Settings */
  --accent-color: var(--base-color-neutral--neutral-darkest);			/* Controls BG Color for Selected Date */
  --secondary-accent-color: var(--base-color-brand--orange);			/* Controls Text Color for Current Date */
	--main-bg-color: #f9f9f9;																				/* Controls BG Color of the Calendar */
  --secondary-bg-color: #f9f9f9;																	/* Controls BG for Calendar Dates */
  --heading-color: var(--base-color-neutral--neutral-darkest);		/* Controls Main Heading Color */
  --font-color: var(--base-color-neutral--neutral-darkest);				/* Controls Main Font Color */
  --accent-top-text-color: var(--base-color-neutral--white);			/* Controls Font Color on top of Accent Color */
  --disabled-font-color: var(--base-color-neutral--neutral);			/* Controls Disabled Font Color */
  --shadow-color: 0 4px 8px -2px rgba(0, 0, 0, 0.10), 0 2px 4px -2px rgba(0, 0, 0, 0.06);
  
  /* Size & Spacing Settings */
  --border-radius: 0.5rem;									/* Controls Large Border Radius (Calendar Itself) */
  --border-radius-sm: 0.25rem;							/* Controls Small Border Radius (Calendar Dates) */
  --font-size: 1rem;										/* Controls Font Size */
  --table-gap: 2px;											/* High number is not recommended */
  
  /* Arrow Icons */
  --left-arrow: url('https://raw.githubusercontent.com/Exe-Eyes/chevron_svg/main/ChevronLeft.svg');
  --right-arrow: url('https://raw.githubusercontent.com/Exe-Eyes/chevron_svg/main/ChevronRight.svg'); 
  --arrow-bg-color: transparent;
}

/* Picker Element Itself */
.pika-single {
  color: var(--heading-color);
  background: var(--main-bg-color);
  border: none !important;
  border-bottom-color: none !important;
  border-radius: var(--border-radius);
  font-family: inherit !important;
}

/* Datepicker Shadow */
.pika-single.is-bound {
  box-shadow: var(--shadow-color) !important;
}

/* Month & Year Displayed in Middle */
.pika-label {
  color: var(--heading-color);
  background-color: transparent !important;
}

.pika-prev, .is-rtl .pika-next {
	background-image: var(--left-arrow);
}
.pika-next, .is-rtl .pika-prev {
  background-image: var(--right-arrow);
}

/* This is the table element which includes the days labels and the days in the month */
.pika-table {
	border-spacing: var(--table-gap) !important;
  border-collapse: separate;
  font-size: var(--font-size) !important;
}

/* Days of the Week Labels */
.pika-table th {
  color: var(--font-color);
  text-align: center;
}

/* Days of the Week Underline - Example = underline dotted */
abbr[title] {
  text-decoration: none !important;
  cursor: default !important;
}

/* Month Days on Calendar - Default State */
.pika-button {
  color: var(--font-color);
  background: var(--secondary-bg-color);
  border-radius: var(--border-radius-sm);
  text-align: center;
  font-size: 12px !important;
}

/* Week Label */
.pika-week {
  color: var(--font-color);
}

/* Current Day Text/Number Color */
.is-today .pika-button {
  color: var(--secondary-accent-color) !important;
}

/* The Selected Date/Day */
.is-selected .pika-button {
  color: var(--accent-top-text-color) !Important;
  background: var(--accent-color);
  box-shadow: none !important;
}

/* Styles for any Disabled Dates/Days  */
.is-disabled .pika-button {
  color: var(--disabled-font-color);
  opacity: .3;
  background: transparent !important;
}

/* Styles for Date/Day Hover (can be same styles as "selected" styles) */
.pika-button:hover {
  color: var(--accent-top-text-color) !important;
  background: var(--accent-color) !important;
  border-radius: var(--border-radius-sm) !important;
}

/* Next & Prev Arrow Buttons */
.pika-prev, .pika-next {
	display: block;
	cursor: pointer;
	position: relative;
	outline: none;
	border: 0;
	padding: 0;
	width: 20px;
	height: 30px;
	text-indent: 20px;
	white-space: nowrap;
	overflow: hidden;
	background-color: var(--arrow-bg-color) !important;
	opacity: .5;
}